In [1]:
from nblabel import label

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Source: Datasaurus by Alberto Cairo
# http://www.thefunctionalart.com/2016/08/download-datasaurus-never-trust-summary.html
df = pd.read_csv("./assets/Datasaurus_data.csv", header=None)

In [4]:
df.head()

         0        1
0  55.3846  97.1795
1  51.5385  96.0256
2  46.1538  94.4872
3  42.8205  91.4103
4  40.7692  88.3333

In [5]:
label(
    df, # The dataframe to use
    x_col=0, y_col=1, # Columns for x-axis and y-axis
    label_col_name="selected", # Column to store labels
    title="nblabeller" # Plot title
)

VBox(children=(Figure(axes=[Axis(label='0', scale=LinearScale()), Axis(label='1', orientation='vertical', scalâ€¦

In [6]:
df["selected"]

0      False
1      False
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140    False
141    False
Name: selected, Length: 142, dtype: bool

In [7]:
# df.to_csv("nblabel-example-output.csv")